body {
  overflow-y: scroll;
}

footer {
  display: none;
}

// fix sidebar padding
nav a,
nav li,
nav p {
  margin: 0 !important;
}

nav h2 {
  padding: 0 !important;
  margin: 0 !important;
}

// fix page menu bullets
nav ul {
  list-style: none;
}

// fix page padding
.VPDoc {
  > .container {
    padding: 0 1rem 8rem !important;

    > .content {
      padding: 0;
    }
  }

  .content-container,
  .vp-doc {
    padding: 0;
    max-width: unset !important;
  }
}

// fix code for new Spectre CSS
pre code {
  background: unset;
  color: unset;
}

.vp-doc > div > :where(h2, h3, h4, h5) {
  margin-top: 1.4em;
}

.flex-reverse {
  flex-direction: row-reverse;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-around {
  justify-content: space-around;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

.justify-stretch {
  justify-content: stretch;
}
