body {
  overflow-y: scroll;
}

// make Spectre logo inline
h1 img {
  display: inline;
}

// enable hero text to go wider
.VPHero .text {
  max-width: unset !important;

  @media (min-width: 1280px) {
    max-width: 66% !important;
  }
}

// shrink tagline font size for version number
.VPHero .tagline {
  font-size: 18px;
}

// fix page padding
.VPDoc {
  > .container {
    padding: 0 1rem 8rem !important;

    > .content {
      padding: 0;
    }
  }

  .content-container,
  .vp-doc {
    padding: 0;
    max-width: unset !important;
  }
}

// sidebar JS labels
.VPSidebarItem {
  .label {
    background: #eef0f3;
    border-radius: .1rem;
    color: #455060;
    display: inline-block;
    line-height: 1.25;
    padding: .1rem .4em;
    transform: translateY(-1px);
  }
  .label.label-rounded {
    border-radius: 5rem;
    padding-left: .4rem;
    padding-right: .4rem;
  }
  .label.label-primary {
    background: #5755d9;
    color: #fff;
  }
  .label.label-secondary {
    background: #f1f1fc;
    color: #5755d9;
  }
}

// fix heading margins
.vp-doc > div > :where(h2, h3, h4, h5) {
  margin-top: 1.4em;
}

// hide border from prev/next links
a.VPLink.link.pager-link {
  border-color: transparent;
  &:hover {
    border-color: var(--vp-c-divider);
  }
}

// utils
.flex-reverse {
  flex-direction: row-reverse;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-around {
  justify-content: space-around;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

.justify-stretch {
  justify-content: stretch;
}

.no-wrap {
  white-space: nowrap;
}
