// fixes menu padding
nav a,
nav li,
nav p {
  margin: 0 !important;
}
nav h2 {
  padding: 0 !important;
  margin: 0 !important;
}

.VPDoc {
  > .container {
    padding: 0 1rem 8rem !important;

    > .content {
      padding: 0;
    }
  }

  .content-container,
  .vp-doc {
    padding: 0;
    max-width: unset !important;
  }
}

/*
.VPLocalNav .menu,
.VPNavBarMenu.menu {
  min-width: unset;
  background: unset;
  border-radius: unset;
  box-shadow: unset;
  list-style: unset;
  margin: unset;
  transform: unset;
  z-index: unset;
}
*/

.vp-doc li, .vp-doc ul {
  list-style: none;
  &:not([class]) {
    list-style: disc;
  }
}
